# Ignorar node_modules en cualquier carpeta
**/node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Salida de compilación
dist/
build/

# Archivos temporales
*.tmp
*.swp

# Archivos de configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace