option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start:prod"
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: public
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:container:nodejs:
    GzipCompression: true
    ProxyServer: nginx